{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Resuelve App Backend Test.</h1>
      <p>This is the test App for Resuelve backend...</p>
    </div>
 </div>
 <a href="http://127.0.0.1:5000/team_salary_total"><button type="button" class="btn btn-success btn-block">Execute</button></a>
 <br>
 <br>
 <div class="card">
    <div class="card-header">Links</div>
    <div class="card-body">
        <center>Link One is the informacion without calculus. - Resuelve Team FC<br>
        Link Two is the solution with the calculus. - Resuelve Solution</center><br></div>
    <div class="card-footer">/Links</div>
</div>
{% endblock %}
